<div class="form-wrap">
  <form class="pure-form pure-form-aligned" method="post" action="/login">
    <fieldset>

      <legend>Sign In</legend>

      <input class="pure-input-1" type="text" name="username" placeholder="Username">
      <input class="pure-input-1" type="password" name="password" placeholder="Password">

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary  green-button">Submit</button>
      </div>
    </fieldset>

  </form>
</div>
