<div class="chat">

  <div id="message-log" class="messages">
    <% @chat.messages.each do |message| %>
    <div>
      <div class="message">
        <h5 class="author">
          <%= message.user.username if message.user != @user %>
        </h5>

        <div class="content-wrap clearfix">
          <span class="content<%= ' right' if message.user == @user %>">
            <%= message.content %>
            <% view_message(@user, message) %>
          </span>
        </div>

      </div>
    </div>

    <% end %>
  </div>

  <div class="input-box">
    <form id="new-message" action="/chat/<%= @chat.id %>/message" method="post">
      <button type="button" class="pure-button pure-button-primary"><i class="fa fa-cog"></i></button>
      <textarea id="input-message"name="message" placeholder="New sMessage"></textarea>
      <button type="submit" class="pure-button pure-button-primary">Send</button>
    </form>

    <div class="message-settings">
      <div>
        <h2>Settings</h2>
      </div>
    </div>

  </div>
  <script src="/js/socket-chat.js"></script>
  <script src="/js/chat.js"></script>
</div>
