<div class="search pure-g">

  <div class="pure-u-1-3 results">
    <h3>Connections: </h3>
    <ul class="pure-menu-list">
      <% @user.friends.each do |user| %>
      <li class="pure-menu-item">
        <a href="/chat/" class="pure-menu-link">
          <i class="fa fa-user-secret"></i> <%= user.username %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>


  <div class="pure-u-1-3 results">
    <h3>Requests: </h3>
    <ul class="pure-menu-list">
      <% @requests.each do |user| %>
      <li class="pure-menu-item">
        <a href="/connect/<%= user.id %>" class="pure-menu-link">
          <i class="fa fa-check"> Confirm</i> <%= user.username %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>


  <div class="pure-g pure-u-1-3 results">
    <div class="pure-u-1">
      <form class="pure-form pure-g" action="/connect/find" method="post">
        <div class="pure-u-3-4">
          <input type="search" autocomplete="off" class="pure-input-1 search-box" name="search" placeholder="Search...">
        </div>
        <div class="pure-u-1-4">
          <button type="submit" class="pure-input-1 pure-button">Search</button>
        </div>

      </form>
    </div>

    <h3>Results:</h3>
    <ul class="pure-menu-list">
      
    </ul>
  </div>


</div>
